<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- imports stylesheets -->
    <link rel="stylesheet" href="./themes/css/main.css"/>
    <link rel="stylesheet" href="./themes/css/imagemanager.css"/>
    <!-- inline css due to small amount needed. -->
    <style>nav{margin-top:-150em;}</style>
</head>
<body>
    <div class="pagecontainer">
        <img class="splashimage" src="{{ page.coverimage }}">
        <h2 class="covertitle" id="maintitle">BURNT OFFERINGS</h2>
        {% include navbar.html %}
        {{content}}
    </div>
</body>
</html>
