<!doctype html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/themes/css/main.css"/>
    </head>

    <body>
        {% include navbar.html %}
        {{ content }}
        <ul>
            {% for section in site.data.products %}
                {% if section.id == page.data %}
                    {% for item in section.items %}
                        <li><span>{{ item.name }}</span><span>{{ item.price }}</span></li>
                    {% endfor %}
                {% endif %}
            {% endfor%}
        </ul>
    </body>
</html>
