<!doctype html>
<html>
    <head>
        <title>{{ content.title }}</title>
        <link rel="stylesheet" href="/themes/css/main.css"/>
    </head>

    <body>
        {% include navbar.html %}
        {{ content }}
        <ul>
            {% for item in site.data.products[page.data] %}
                <!-- {% if section.id == content.data %}
                    {% for item in section.items %} -->
                        <li><span>{{ item.name }}</span><span>{{ item.price }}</span></li>
                    <!-- {% endfor %}
                <!-- {% endif %} -->
            {% endfor%}
        </ul>
    </body>
</html>
