<!doctype html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="../themes/css/main.css"/>
        <link rel="stylesheet" href="../themes/css/productmanager.css">
    </head>

    <body>
        {% include navbar.html %}
        {{ content }}
        <!-- creates a for loop to find each category of products on the website, should that section match
             the current page, it places and image and name for each product in the category -->
            {% for section in site.data.products %}
                {% if section.id == page.data %}
                    {% for item in section.items %}
                        <div class="productcontainer">
                            <img src="{{ section.path }}/{{ item.img }}">
                            <a href="{{ item.link }}">{{ item.name }}<br>{{ item.price }}</a>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
    </body>
</html>
