/*code of dynamic gallery grid*/
div.imagecontainer {
    display: inline-block;
    margin-bottom: 8px;
    width: calc(49% - 4px);
    margin-right: 8px;
}
div.imagecontainer:nth-of-type(2n) {
    margin-right: 0;
}
@media all and (min-width: 75em) {
  div.imagecontainer {
    width: calc(24.5% - 6px);
  }

  div.imagecontainer:nth-of-type(2n) {
    margin-right: 8px;
  }

  div.imagecontainer:nth-of-type(4n) {
    margin-right: 0;
  }
}
/* Other images */
/* splash image */
.splashimage{
    position:relative;
    display:block;
    width:calc(100% - 1em);
    margin-left:auto;
    margin-right:auto;
    z-index:0;
}