/* import the Roboto font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic);
@font-face {
  font-family: 'Kranky';
  font-style: normal;
  font-weight: 400;
  src: local('Kranky'), url(https://fonts.gstatic.com/s/kranky/v6/9tWRGlxaK7Ti3v3jGnQTyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 150%;
  background-color:#fff;
}

body {
  width:80%;
  margin-left:auto;
  margin-right:auto;
  background-color:#f2f2f2;
}

/* Main page css */
.covertitle{
    font-family: 'Kranky';
    font-size: 5em;
    
}
#maintitle{
    position:relative;
    text-align: center;
    margin-top:-2em;
    padding: 1em;
}
@media all and (max-width:65em){
    #maintitle{
        margin-top:; -3em;
    }
}
.pagecontainer{
    background-color:#dddddd;
}