/* import the Roboto font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Kranky)

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 150%;
  background-color:#fff;
}

body {
  width:80%;
  margin-left:auto;
  margin-right:auto;
  background-color:#f2f2f2;
}

/* Main page css */
#covertitle{
    font-family: 'Kranky', serif;
}
.pagecontainer{
    background-color:#dddddd;
}
