nav {
    background-color: #333333;
    color: white;
    display: inline-block;
}
nav a, nav ul li a{
    text-decoration: none;
    font-size: 16pt;
    font-family: sans-serif;
}
nav a:hover, nav ul li:hover a {
    background-color: #ccc;
    color: black;
}
nav ul li a{
    display:none;
}
nav a{
    display:inline-block;
}
@media all and (min-width:768px){
    nav ul{
        display: inline-block;
    }
    nav a{
        display:none;
    }
}