nav{
    background-color: #333333;
}
nav ul li, nav ul li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18pt;
    padding: 5pt;
}
nav ul li:hover a{
    background-color: #cccccc;
    color: black;
}
#desktop{
    display: none;
    width:100%;
}
#phone{
    display: inline-block;
    font-size:16pt;
    width:100%;
}
#phone ul li {
    width:calc(25% - 4px);
}
@media all and (min-width:768px){
    #desktop{
        display: inline-block;
    }
    #phone{
        display: none;
    }
}