nav {
    background-color: #333333;
    color: white;
}
nav a, nav ul li a{
    text-decoration: none;
    font-size: 16pt;
    font-family: sans-serif;
}
nav a:hover, nav ul li:hover a {
    background-color: #ccc;
    color: black;
}
@media all and (max-width:1024px){
#desktop{
    display: none;
}
#phone{
    display: inline-block;
}
}
@media all and (min-width:768px){
    #desktop{
        display: inline-block;
    }
    #phone{
        display: none;
    }
}