nav{
    background-color: #333333;
    margin-top:-15em;
    z-index:5;
}
nav ul li, nav ul li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.5em;
    padding: 5pt;
}
nav ul li a {
    color:inherit;
}
nav ul li:hover{
    background-color: #cccccc;
    color: black;
}
#desktop{
    display: none;
    width:100%;
}
#phone{
    display: inline-block;
    font-size:1.5em;
    width:100%;
    text-align:center;
}
#phone ul li {
    width:calc(47% - 0.5em);
    padding-top:0.5em;
    padding-bottom:0.5em;
}
@media all and (min-width:75em){
    #desktop{
        display: inline-block;
    }
    #phone{
        display: none;
    }
}