div.productcontainer{
    display: inline-block;
    margin-bottom: 4px;
    width:calc(24% - 6px);
    margin-right: 4px;
    text-align:center;
}
div.productcontainer:nth-of-type(4n){
    margin-right: 0;
}
div.productcontainer img{
    width:100%;
}
@media all and (min-width:65em){
    div.productcontainer{
        width:calc(12.25% - 6px);
    }
    div.productcontainer:nth-of-type(4n){
    margin-right: 4px;
    }
    div.productcontainer:nth-of-type(8n){
    margin-right: 0;
    }  
}