ul.productcontainer li{
    list-style-type:none;
    width:100%;
}
.product{
    width:100%;
}
.product span{
    width:calc(30% - 1em);
    display:flex;
}
.productname{
    text-align:center;
}
.productprice{
    text-align:center;
}