ul.productcontainer li{
    list-style-type:none;
    width:100%;
}
.product{
    width:100%;
}
.product span{
    width:calc(49% - 1em);
    display:inline-block;
}
.productname{
    text-align:center;
}
.productprice{
    text-align:center;
}